* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  input {
    border: none;
    outline: none;
  }
  button {
    border: none;
    background: transparent;
  }

  .header{
    display: flex;
    flex-direction: row;

  }

  .icon{
    display: flex;
    flex-direction: row-reverse;
  }

  .categories{
    background-color: antiquewhite;
  }

  .main{
    background-color: aquamarine;
  }

  .footer{
    background-color: blanchedalmond;
  }

