* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  background: transparent;
}

/* 기본세팅값 */


