* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;  
  font-family: "blair-itc", "Noto Sans KR", sans-serif;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
}

/* ---여기까지 전체초기화--- */

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .head-top {
  width: 100%;
  height: 120.8px;
  display: flex;
  padding: 0 30px 0 30px;
  justify-content: space-between;
  /* position: absolute; */
}

.container .title {
  display: flex;
  align-items: center;
}

.container .icon-bar {
  display: flex;
}
.container .icon {
  width: 23px;
  margin-left: 28px;
}

/* ---여기까지 1. 타이틀--- */

.container .side-Container {
  width: 100%;
  /* height: 100%; */
  display: flex;
}
.side-menu {
  width: 290px;
  height: 100%;
  padding: 0 30px;
  ;
}

.side-Container .info-1 {
  font-size: 17px;
  padding-bottom: 50px;
}
.side-Container .info-2 {
  font-size: 17px;
}

/* ---여기까지 2.사이드메뉴--- */

.container .banner {
  width: calc(100% - 290px);
  height: calc(100% - 120.8px);
  overflow-y: scroll;
  padding-right: 30px;
  min-height: 400px;
}
.container .banner .banner-Image {
  width: 100%;
}

/* ---여기까지 3.배너이미지 */

.end-Container {
  padding: 62px 30px 100px 290px;
  border: none;
}


.bottom {
  font-family: "Roboto", 'Noto Sans KR', sans-serif;
  height: 200%;    
  font-size: 10px;
  color: #808080;
  font-weight: 300;
  line-height: 1.6;
}


/* --- 여기까지 4.상세설명 --- */